<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/main.css">
    <title>Simple Login</title>
  </head>
  <body>
    <pre>
      {{user.username}} is username
      Logged in!!
      {% if user.verified == 0 %}

        <a href = "/otpverify">Verify your email</a> to enable 2FA.

      {% endif %}
      userlist:
      {% for item in userlist %}
        {{item}}
      {% endfor %}

      <a href = "/logout">Logout</a>
    </pre>
  </body>
</html>