<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/login.css">
    <title>Email verification</title>
  </head>
  <body>
    <div class="Login">
      <form method="post">
        <label for = "otp">OTP:</label>
        <input required type="number" id="otp" name="otp" min="1000" max="9999" size="4"><br>
        <input type="reset" value="clear">
        <input type="submit" value="Verify">
      </form>
    </div>
  </body>
</html>
